In [15]:
import requests
import datetime
from datetime import datetime 
import json
from psaw import PushshiftAPI
import pandas as pd

In [23]:
def get_submissions(subreddit, start, end, filename):
    api = PushshiftAPI()
    start_time = int(start.timestamp())
    end_time = int(end.timestamp())
    submissions = list(api.search_submissions(after=start_time, before=end_time,
                                subreddit=subreddit,
                                filter=['title','created_utc','selftext'],
                                ))
    df = pd.DataFrame([row.d_ for row in submissions])
    df.to_csv(filename)
    print("Total rows: " + str(len(submissions)))
    return df

In [24]:
start = datetime(2020,3,1)
end = datetime(2021, 3, 2)

In [25]:
get_submissions('boston', start, end, 'boston_updated.csv')

Total rows: 21059

,created_utc,selftext,title,created
0,1614488994,Hello everyone my name is katie. I am writing...,Advice needed,1.614503e+09
1,1614487976,,Random club looking room at the intercontinent...,1.614502e+09
2,1614486304,Has anyone had any experience with showing the...,Apartment showings during COVID?,1.614501e+09
3,1614486265,,Photo I took in Boston on 35mm film (IG is @ a...,1.614501e+09
4,1614482470,My gf sister’s 30th bday is coming up and she ...,Seafood tower to go,1.614497e+09
...,...,...,...,...
21054,1583068114,,Hancock Tower in 1972.,1.583083e+09
21055,1583065732,,Jason M. Rubin on WRITING STUFF Podcast (with ...,1.583080e+09
21056,1583063701,,"As construction booms, Boston works to slow do...",1.583078e+09
21057,1583047924,"Bostonians of reddit, here is my predicament.\...","Please, for the love of god, help this old man...",1.583062e+09
21058,1583047873,"I'm giving away a 27"" 1080p 60hz Acer monitor,...",Looking for a broke gaming student looking to ...,1.583062e+09

In [26]:
chi = get_submissions('chicago', start, end, 'chicago_updated.csv')
nyc = get_submissions('nyc', start, end, 'nyc_updated.csv')
mia = get_submissions('miami', start, end, 'miami_updated.csv')

C:\Users\Nicholas\AppData\Local\Programs\Python\Python37\lib\site-packages\psaw\PushshiftAPI.py:252: UserWarning: Not all PushShift shards are active. Query results may be incomplete
  warnings.warn(shards_down_message)
C:\Users\Nicholas\AppData\Local\Programs\Python\Python37\lib\site-packages\psaw\PushshiftAPI.py:192: UserWarning: Got non 200 code 429
  warnings.warn("Got non 200 code %s" % response.status_code)
C:\Users\Nicholas\AppData\Local\Programs\Python\Python37\lib\site-packages\psaw\PushshiftAPI.py:180: UserWarning: Unable to connect to pushshift.io. Retrying after backoff.
  warnings.warn("Unable to connect to pushshift.io. Retrying after backoff.")

Total rows: 23230
Total rows: 37643
Total rows: 8163